<header class="header">
  <a href="/src/index.html">
    <img
      class="header__logo"
      src="/src/images/logo.png"
      alt="logo icon"
      width="113"
      height="34"
    />
  </a>
  <div class="header__navwrapper">
    <nav class="header__navigation">
      <ul class="header__list">
        <li class="header__listitem">
          <a href="#" class="header__navlink">Destinations</a>
        </li>
        <li class="header__listitem">
          <a href="#" class="header__navlink">Hotels</a>
        </li>
        <li class="header__listitem">
          <a href="#" class="header__navlink">Flights</a>
        </li>
        <li class="header__listitem">
          <a href="#" class="header__navlink">Bookings</a>
        </li>
      </ul>
    </nav>
    <ul class="header__authwrapper">
      <li class="header__authitem">
        <a href="#" class="header__login">Login</a>
      </li>
      <li class="header__authitem">
        <a href="#" class="header__signup">Sign up</a>
      </li>
    </ul>
    <div class="header__dropdown">
      <svg class="header__arrow" width="11" height="7">
        <use href="images/icons/symbol-defs.svg#icon-arrow"></use>
      </svg>
      <input class="header__language" type="text" readonly />
      <div class="options">
        <div class="EN">EN</div>
        <div class="UA">UA</div>
      </div>
    </div>
  </div>
  <button class="header__burger js-open-menu">
    <svg class="header__burgericon" width="32" height="32">
      <use href="images/icons/symbol-defs.svg#icon-burger"></use>
    </svg>
  </button>
</header>
