<div class="menu__container js-menu-container" id="mobile-menu">
  <button class="menu__toggle js-close-menu">
    <svg class="menu__close" width="30" height="30">
      <use href="/src/images/icons/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="menu__list">
    <li class="menu__list-item">
      <a class="menu__link" href="#">Destinations</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__link" href="#">Hotels</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__link" href="#">Flights</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__link" href="#">Bookings</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__link" href="#">Login</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__link" href="#">Sign up</a>
    </li>
  </ul>
</div>
