<section class="subscription">
  <div class="sub__wrapper">
    <h2 class="sub__title">
      Subscribe to get information, latest news and other interesting offers
      about Cobham
    </h2>
    <form class="sub__form">
      <div class="sub__inputwrapper">
        <input class="sub__email" type="email" placeholder=" Your email" />
        <svg class="sub__envelope" width="26" height="18">
          <use href="images/icons/symbol-defs.svg#icon-email"></use>
        </svg>
      </div>
      <button class="sub__button" type="submit">Subscribe</button>
    </form>
    <span class="sub__icon">
      <svg class="sub__paperplane" width="35" height="31">
        <use href="images/icons/symbol-defs.svg#icon-paperplane"></use>
      </svg>
    </span>
  </div>
</section>
